* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  cursor: none; /* Hide the default cursor */
}

.item {
  color: #693C72;
  font-size: 50px;
  

}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #693C72;
  border-radius: 50%;
  pointer-events: none; /* Prevent the cursor from interacting with elements */
  z-index: 1000;
}

.trail {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #693C72;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  opacity: 0.7;
  transform: scale(1);
  transition: transform 0.2s, opacity 0.2s;
}

.trail.fade-out {
  transform: scale(0.5);
  opacity: 0;
}
